---
import Linux from "./icons/Linux.astro";
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Ubuntu from "./icons/Ubuntu.astro";
import Grafana from "./icons/Grafana.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  LINUX: {
    name: "Linux",
    class: "bg-[#FCC624] text-black",
    icon: Linux,
  },
  UBUNTU: {
    name: "Ubuntu",
    class: "bg-[#E95420] text-white",
    icon: Ubuntu,
  },
  GRAFANA: {
    name: "Grafana",
    class: "bg-[#F46800] text-white",
    icon: Grafana,
  },
}
const PROJECTS = [
  {
    title: "Monitoreo de red - Zabbix & Grafana",
    description:
      "Este proyecto implementa un eficiente sistema de monitoreo de red mediante la integraci贸n de Grafana y Zabbix. Utilizando Grafana para visualizaci贸n y Zabbix para la recopilaci贸n de datos, proporciona paneles interactivos y alertas personalizadas que permiten una supervisi贸n detallada del rendimiento y la disponibilidad de la infraestructura.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "https://blog.zabbix.com/wp-content/uploads/2019/11/grafana_cr.jpg",
    tags: [TAGS.LINUX, TAGS.UBUNTU, TAGS.GRAFANA],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
